.navbar-default {
    max-height: 40px;
}
.navbar-fixed-top {
    background-color: transparent;
    border-color: transparent;
}
.navbar-right {
    float: right;
}

.navbar-left {
    float: left;
}

.col-xs-6 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-right: 70px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 33px;
}
  
.btn-group-wrap {
    text-align: center;
    margin-top: 30px;
}
 
div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.btn-primary {
    background-color: #f5f5f5;
    border-color: #ececec;
    color: gray;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-primary.focus, .btn-primary:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-primary:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn {
    border-radius: 2px;
    padding: 10.5px 12px;
}

.btn-default {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.input-group .form-control {
    float: right;
    width: 87%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.form-control {
    height: 43px;
}

